p {
    font-family: Lato;
  }
  
  .signature {
    position: relative;
  }
  .signature:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .center-heading {
    text-align: center;
  }
  