<div class="row coupon-wrapper" id="couponPage" #couponPage>
    <div #content class="content">

        <div class="logo-img">
            <img src="https://media.licdn.com/dms/image/C560BAQHwV_esHzmEkA/company-logo_200_200/0/1566583937508?e=2147483647&v=beta&t=ZkuOOoAV69qjuCAS3BKTQn3t2fc_n5lTL52f-Ue0N3w"/>
        </div>
        <div class="center-heading">
            <h2> <B>
                <strong> CONTRAT DE TRAVAIL <br>A DURÉE INDÉTERMINÉE 
                </strong></B> </h2>
          </div> 
          <p>
            ENTRE LES SOUSSIGNÉS<br>La société <B>W.G. CONSULTING </B>ayant comme matricule fiscale : 1410177 Q/A/M/000 dont le
            siège social est situé à Immeuble Chbil Medimegh - Av Habib Bourguiba 5080 Téboulba –
            Monastir<br>
            Représentée par Monsieur Boussema Rjeb agissant en qualité de Gérant.<br>D’une part
            Et Monsieur --nom et prenom--, né le --datedenaissance-- à --lieu--, demeurant à --adresse--- et ayant comme numéro CIN :-------- et de
            sécurité sociale en cours
            D’autre part,
            
            Il a été convenu ce qui suit :<br>
            <strong><h4><B> <U>  ARTICLE N°01 - Engagement </U> </B></h4></strong> 
            La société W.G. CONSULTING engage, sous réserve des résultats de la visite médicale
            d’embauche --nom&prenom--------. Il déclare formellement n’être lié à aucune entreprise et
            libre de tout engagement.
            Le contrat est soumis aux dispositions du code de travail, du règlement intérieur et de la convention
            collective applicable dans l’entreprise.
            Le présent contrat qui prend effet le ----------date debut----------- est conclu pour une durée indéterminée.
            Si des dispositions légales, conventionnelles ou réglementaires venaient à être modifiées ou
            supprimées, les dispositions contractuelles s'y rapportant seraient modifiées de plein droit.
            <strong><h4><B> <U>  ARTICLE N°02 - Emploi et qualification</U> </B></h4></strong> 
            <br>--------nom&prenom----------sera employé en qualité de « --------poste--------- », avec la
            qualification professionnelle de Cadre à temps complet.<br>
            --------nom&prenom-------- reconnaît et accepte que toute réalisation, création, production
            effectuée dans le cadre du contrat de travail et/ou dans les locaux de la société<B> W.G.
            CONSULTING </B>ou de ses clients sont la propriété de la société.
            Les activités principales de --------nom&prenom-------- sont les suivantes :
            - Des prestations de gestion d’infrastructures systèmes et réseaux informatiques ainsi que de
            conseil auprès des services informatiques ou de formation de sociétés clientes.
            - Plus généralement, de remplir toute fonction qui lui sera confiée par la Direction Générale
            Les attributions et les responsabilités de --------nom&prenom-------- sont susceptibles d'évoluer en
            fonction de l'évolution de la société, ce que Monsieur NOURI Ghassen accepte sous réserve que
            lui soit conservé le bénéfice de sa rémunération et de sa classification.
            <strong><h4><B> <U>  ARTICLE N°03 - Horaire de travail</U> </B></h4></strong>
            <br>La durée hebdomadaire de travail est fixée à 40 heures, du lundi au vendredi.
            Il pourra être demandé au salarié d'effectuer des heures supplémentaires, dans les conditions fixées
            par la loi, la convention collective ou l'accord d’entreprise.
            <strong><h4><B> <U>  ARTICLE N°04 - Lieu de travail</U> </B></h4></strong>
            <br>Le lieu de travail est situé à :<br>

            Immeuble Chbil Medimegh - Av Habib Bourguiba 5080 Téboulba – Monastir.
            <br>
            Parallèlement, la société se réserve le droit, pour des raisons liées à l'organisation et/ou au bon
            fonctionnement de l’entreprise, de modifier le lieu de travail actuel de Monsieur NOURI Ghassen
            Celui-ci pourra ainsi être amené à exercer son activité à titre temporaire ou permanent, en tout lieu
            du territoire national et/ou international. (Notamment en France) chez les clients de la société.<br>
            <strong><h4><B> <U>  ARTICLE N°05 - Rémunération</U> </B></h4></strong>
            <br>-------nom&prenom------- bénéficiera d’un salaire mensuel brut de ------------salaire------------------.
            Cette rémunération a un caractère forfaitaire et prend en considération tous dépassements que
            -------nom&prenom------- pourrait être amené à effectuer pour l’exercice de ses fonctions.
            <strong><h4><B> <U>  ARTICLE N°06 - Congés payés</U> </B></h4></strong>
            <br>-------nom&prenom------- bénéficiera des congés payés institués conformément à la loi et à la
            convention collective en faveur des salariés de la société soit actuellement ----duréé----  par an.
            Ces journées s'acquièrent en fonction du temps de présence dans la société.
            <strong><h4><B> <U> ARTICLE N°07 - Empêchement - Absence - Maladie ou accident</U> </B></h4></strong>
            <br>En cas d'absence prévisible, le salarié doit solliciter une autorisation préalable de son supérieur
            hiérarchique qui indépendamment des motifs de l'absence, ne peut lui être accordée que dans la
            mesure où elle est compatible avec la bonne marche de l’entreprise.
            En cas de maladie ou d'accident, le salarié devra, dans les vingt-quatre heures, avertir l’entreprise de
            son indisponibilité et de la durée probable de son absence.
            Il devra adresser à celle-ci dans les quarante-huit heures suivant l'interruption de son travail un
            certificat médical indiquant la durée probable de son indisponibilité.
            En cas de maladie, accident ou d'incapacité frappant le salarié, et qui rend celui-ci incapable
            d'accomplir ses fonctions convenablement pendant une période continue de six mois, l’entreprise,
            sauf clause contraire de la Convention Collective, pourra constater la rupture du présent contrat
            pour cause légitime.
            <strong><h4><B> <U> Clause de confidentialité</U> </B></h4></strong>
            <br>-------nom&prenom------- s'engage, tant pendant la durée du présent contrat, qu'après sa
            cessation, à observer la discrétion la plus absolue sur les informations de toute nature concernant le
            fonctionnement et les activités de la société d'une part, et les clients de cette société d'autre part.
            Il s'engage à ne communiquer à des tiers aucune indication sur les travaux, inventions, procédés,
            méthodes de la société qui seront portés à sa connaissance et à ne divulguer, en aucune façon, les
            indications qu'il pourrait recueillir du fait de ses fonctions sur tout ce qui touche à l'organisation de
            la société et à ses relations commerciales.
            Il s'engage à ne sortir aucun document de la société ou d’un partenaire, disquette ou tout autre
            support qui ne lui soit pas personnel, sauf autorisation expresse de l’employeur.
            <strong><h4><B> <U> Clause de non concurrence</U> </B></h4></strong><br>
            En cas de rupture du présent contrat pour quelque cause que ce soit, --------nom&prenom-----------
            s'engage à ne pas travailler, à quelque titre que ce soit pour une entreprise ayant une activité
            concurrente et/ou cliente de celle de la société<B> W.G. CONSULTING </B>sans avoir eu l’accord
            préalable, ou à ne pas s'intéresser directement ou indirectement à toutes activités pouvant
            concurrencer les activités de la société pendant une durée de 2 ans.<br>
            Les activités susmentionnées ne pourront être exercées pendant une durée de 2 ans à compter de la
            cessation du contrat, sur le territoire suivant : En Ile de France en France métropolitaine.
            <strong><h4><B> <U> Clause d'exclusivité</U> </B></h4></strong><br>
            Il est interdit au salarié d'exercer une autre activité professionnelle, salariée ou
            indépendante, pendant toute la durée d'exécution de son contrat de travail.
            <strong><h4><B> <U> Clause de dédit formation</U> </B></h4></strong><br>
            -nom&&prenom------------- pourra suivre une formation lui permettant de parfaire ses
            connaissances et d'améliorer ses compétences dans son emploi pendant la période d’exécution de son contrat. 
            Lorsque ce stage n'est pas inclus dans le plan de formation de l'entreprise et les frais
            correspondant excèdent l'obligation légale ou conventionnelle de l'entreprise en matière de
            participation au financement de la formation professionnelle. Dans ce cas et en contrepartie de cette
            formation, ------nom&&prenomm-------- s'engage à rester au service de l'entreprise, pendant une
            durée minimale de 3 années, à compter de la fin de ce stage de formation. A défaut le salarié
            rembourserait l'intégralité des sommes engagées en plus du montant de son salaire maintenue
            pendant la période de formation.
            Dans le cas où ------nom&&prenomm-------- quitterait l'entreprise de sa propre initiative avant la fin
            de ce stage, ou à la suite d'une démission ou d'un licenciement pour faute grave ou lourde, pendant
            le délai indiqué ci-dessus, il serait tenu de rembourser les frais de formation ainsi engagés par
            l'entreprise.
            <strong><h4><B> <U> ARTICLE N°08 - Rupture du contrat de travail</U> </B></h4></strong><br>
            Le présent contrat est résiliable par l'une ou l'autre partie, sous réserve du respect d'un délai de
            préavis de --------preavis-------- en application des dispositions légales et conventionnelles applicables.
            Fait en trois exemplaires, à TEBOULBA, le ---datedebut------
            <br> 
            <pre><B>Monsieur Boussema Rjeb,</B>                                      ------nom&&prenomm--------</pre><br>
            <pre>Gérant de la société                                                 L'employé</pre>                                           
            <B>W.G. CONSULTING</B> 
            <pre><B>Mention manuscrite " bon pour accord "</B>                        Mention manuscrite " bon pour accord "</pre><br>
			<button (click)="download()" class="btn btn-primary">Download PDF</button>
