<div class="main-content">
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title mt-0">Table des stagaires</h4>
              <p class="card-category">Voici tous les stagaires</p>
            </div>
            <div class="card-body">
              <div class="form-group col-md-6">
                <form class="navbar-form">
                  <div class="input-group no-border">
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Rechercher par nom...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                    </button>
                  </div>
                </form>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>CIN</th>
                      <th>Addresse</th>
                      <th>Mail</th>
                      <th>Date de naissance</th>
                      <th>Gendre</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let stagaire of filterStagaireList()" class="table table-striped">
                      <td>{{stagaire.nom}}</td>
                      <td>{{stagaire.prenom}}</td>
                      <td>{{stagaire.cin}}</td>
                      <td>{{stagaire.addresse}}</td>
                      <td>{{stagaire.mail}}</td>
                      <td>{{formatDate(stagaire.datedenaissance)}}</td>
                      <td>{{stagaire.gendre}}</td>
                      <td>
                        <ul class="list-inline m-0">
                          <li class="list-inline-item">
                            <span class="mat-button-wrapper"><svg class='fontawesomesvg' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" (click)="openDialog(stagaire.id)"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>

                          </span></li>
                          <li class="list-inline-item">
                            <span class="mat-button-wrapper"><svg class='fontawesomesvg' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" (click)="openDialog2(stagaire.id)"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"/></svg>
                                </span></li>
                          <li class="list-inline-item">
                            <span class="mat-button-wrapper"><svg class='fontawesomesvg' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" (click)="delete(stagaire.id)"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                          </span></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" [pageIndex]="currentPage - 1" [length]="filterSalarieList().length" (page)="onPageChange($event)"></mat-paginator>
              --></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
